
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function getUserRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && (request.auth.uid == userId || getUserRole() == 'ADMIN');
    }

    match /products/{productId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && getUserRole() == 'ADMIN';
    }

    match /sales/{saleId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && getUserRole() == 'ADMIN';
    }

    match /reports/{reportId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow delete: if isSignedIn() && getUserRole() == 'ADMIN';
    }

    match /messages/{messageId} {
      allow read: if isSignedIn() && (
        resource.data.recipientId == null || 
        resource.data.recipientId == request.auth.uid || 
        resource.data.senderId == request.auth.uid
      );
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && (request.auth.uid == resource.data.senderId || getUserRole() == 'ADMIN');
    }
  }
}
